ingress:
  enabled: true
  hosts:
    - host: gitea.anderssonfischer.com
      paths:
        - path: /
          pathType: Prefix

valkey-cluster:
  enabled: false
valkey:
  enabled: false
postgresql:
  enabled: false
postgresql-ha:
  enabled: false

gitea:
  config:
    database:
      DB_TYPE: sqlite3
    session:
      PROVIDER: memory
    cache:
      ADAPTER: memory
    queue:
      TYPE: level
    service:
      DISABLE_REGISTRATION: true
    server:
      ROOT_URL: https://gitea.anderssonfischer.com/
      SSH_DOMAIN: gitea.anderssonfischer.com
      SSH_PORT: 2222
