apiVersion: v1
kind: Secret
metadata:
  name: simply-credentials
  namespace: cert-manager
type: Opaque
stringData:
  account-name: {{ .Values.simply.accountName }}
  api-key: {{ .Values.simply.apiKey }}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: issuer-public
spec:
  acme:
    email: {{ .Values.acme.email }}
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: issuer-public-account-key
    solvers:
      - dns01:
          webhook:
            groupName: com.github.runnerm.cert-manager-simply-webhook
            solverName: simply-dns-solver
            config:
              secretName: simply-credentials
        selector:
          dnsZones:
            - "anderssonfischer.com"
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: local-root-selfsigned
  namespace: cert-manager
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: local-root-ca
  namespace: cert-manager
spec:
  secretName: local-root-ca-keypair
  isCA: true
  commonName: anderssonfischer.local-CA
  duration: 87600h
  privateKey:
    algorithm: RSA
    size: 4096
  issuerRef:
    name: local-root-selfsigned
    kind: Issuer
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: issuer-local
spec:
  ca:
    secretName: local-root-ca-keypair
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: cert-public
  namespace: kube-system
spec:
  secretName: tls-public
  issuerRef:
    name: issuer-public
    kind: ClusterIssuer
  dnsNames:
    - anderssonfischer.com
    - "*.anderssonfischer.com"
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: cert-local
  namespace: kube-system
spec:
  secretName: tls-local
  issuerRef:
    name: issuer-local
    kind: ClusterIssuer
  dnsNames:
    - anderssonfischer.local
    - "*.anderssonfischer.local"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-dynamic-config
  namespace: kube-system
data:
  dynamic.yaml: |
    tls:
      certificates:
        - certFile: /certs-public/tls.crt
          keyFile:  /certs-public/tls.key
        - certFile: /certs-local/tls.crt
          keyFile:  /certs-local/tls.key
      stores:
        default:
          defaultCertificate:
            certFile: /certs-public/tls.crt
            keyFile: /certs-public/tls.key
        local:
          defaultCertificate:
            certFile: /certs-local/tls.crt
            keyFile: /certs-local/tls.key
---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      ssh:
        port: 22
        expose:
          default: true 
        exposedPort: 2222
        protocol: TCP

    volumes:
      - name: tls-public
        mountPath: /certs-public
        type: secret
      - name: tls-local
        mountPath: /certs-local
        type: secret
      - name: traefik-dynamic-config
        mountPath: /config
        type: configMap
    additionalArguments:
      - --providers.file.filename=/config/dynamic.yaml
      - --entrypoints.web.http.redirections.entryPoint.to=:443
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: gitea-ssh
  namespace: gitea
spec:
  entryPoints:
    - ssh
  routes:
    - match: HostSNI(`*`)
      services:
        - name: gitea-ssh
          port: 22
