apiVersion: v1
kind: Namespace
metadata:
  name: api
---
apiVersion: v1
kind: Secret
metadata:
  name: ghcr-secret
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ printf "{\"auths\":{\"%s\":{\"username\":\"%s\",\"password\":\"%s\",\"auth\":\"%s\"}}}" .Values.ghcr.server .Values.ghcr.username .Values.ghcr.password (printf "%s:%s" .Values.ghcr.username .Values.ghcr.password | b64enc) | b64enc }}
---
apiVersion: v1
kind: Secret
metadata:
  name: api-keys
type: Opaque
stringData:
  private.pem: |
{{ .Values.keys.private | nindent 4 }}
  public.pem: |
{{ .Values.keys.public | nindent 4 }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: api
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      hostNetwork: true
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: application
          image: gitea.anderssonfischer.com/kianandersson/api:b5ad53506e5e32cc0b5726ddd3ae8640258b4fe0
          securityContext:
            privileged: true
          env:
            - name: TESLA_VEHICLE_VIN
              value: {{ .Values.tesla.vehicle.vin }}
            - name: TESLA_WALL_CONNECTOR_HOST
              value: {{ .Values.tesla.wallConnector.host }}
          volumeMounts:
            - name: dbus
              mountPath: /run/dbus
            - name: keys
              mountPath: /app/keys
              readOnly: true
          ports:
            - containerPort: 3000
      volumes:
        - name: dbus
          hostPath:
            path: /run/dbus
        - name: keys
          secret:
            secretName: api-keys
            items:
              - key: private.pem
                path: private.pem
              - key: public.pem
                path: public.pem
---
apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: api
spec:
  selector:
    app: api
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: api-ingress-public
  namespace: api
spec:
  rules:
    - host: api.anderssonfischer.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: api
                port:
                  number: 80
    - host: api.anderssonfischer.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: api
                port:
                  number: 80
