apiVersion: v1
kind: Secret
metadata:
  name: s3-credentials
  namespace: s3
type: Opaque
stringData:
  username: "{{ .Values.username }}"
  password: "{{ .Values.password }}"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: s3
  namespace: s3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: s3
  template:
    metadata:
      labels:
        app: s3
    spec:
      containers:
        - name: minio
          image: minio/minio
          args:
            - server
            - --console-address
            - :9001
            - /data
          env:
            - name: MINIO_ROOT_USER
              valueFrom:
                secretKeyRef:
                  name: s3-credentials
                  key: username
            - name: MINIO_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: s3-credentials
                  key: password
            - name: MINIO_SERVER_URL
              value: https://s3.anderssonfischer.com
            - name: MINIO_BROWSER_REDIRECT_URL
              value: https://minio.anderssonfischer.com
          ports:
            - containerPort: 9000
            - containerPort: 9001
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          hostPath:
            path: /mnt/data/s3
---
apiVersion: v1
kind: Service
metadata:
  name: s3
  namespace: s3
spec:
  type: ClusterIP
  selector:
    app: s3
  ports:
    - name: api
      port: 9000
      targetPort: 9000
    - name: console
      port: 9001
      targetPort: 9001
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: s3-ingress
  namespace: s3
spec:
  rules:
    - host: s3.anderssonfischer.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: s3
                port:
                  name: api
    - host: minio.anderssonfischer.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: s3
                port:
                  name: console
