apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zigbee2mqtt-data
  namespace: home-assistant
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: zigbee2mqtt-config
  namespace: home-assistant
data:
  configuration.yaml: |
    homeassistant: true
    permit_join: false

    mqtt:
      server: mqtt://mosquitto-service.home-assistant.svc.cluster.local:8883
      user: "{{ .Values.mosquitto.username }}"
      password: "{{ .Values.mosquitto.password }}"

    serial:
      port: /dev/ttyACM0

    frontend:
      port: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zigbee2mqtt
  namespace: home-assistant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zigbee2mqtt
  template:
    metadata:
      labels:
        app: zigbee2mqtt
    spec:
      initContainers:
        - name: copy-config
          image: busybox:1.36.1
          command:
            - /bin/sh
            - -c
            - cp -f /config/configuration.yaml /app/data/configuration.yaml
          volumeMounts:
            - name: config      
              mountPath: /config
            - name: data    
              mountPath: /app/data
      containers:
        - name: zigbee2mqtt
          image: koenkk/zigbee2mqtt:latest
          securityContext:
            privileged: true
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: data
              mountPath: /app/data
            - name: udev
              mountPath: /run/udev
            - name: ttyacm
              mountPath: /dev/ttyACM0
      volumes:
        - name: config
          configMap:
            name: zigbee2mqtt-config
        - name: data
          persistentVolumeClaim:
            claimName: zigbee2mqtt-data
        - name: udev
          hostPath:
            path: /run/udev
        - name: ttyacm
          hostPath:
            path: /dev/ttyACM0
---
apiVersion: v1
kind: Service
metadata:
  name: zigbee2mqtt-service
  namespace: home-assistant
spec:
  selector:
    app: zigbee2mqtt
  type: NodePort
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30080
