default_config:
frontend:
  themes: !include_dir_merge_named themes
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 10.42.0.0/16
automation: !include automations.yaml
script: !include scripts.yaml
template: 
  - sensor:
    - name: "Consumption"
      unit_of_measurement: W
      state: >-
        {% set grid = states('sensor.smart_meter_ts_65a_3_real_power') | float(0) %}
        {% set solar = states('sensor.solarnet_power_photovoltaics') | float(0) %}
        {% set battery = states('sensor.solarnet_power_battery') | float(0) %}
        {{ (grid + solar + battery) | round(0) }}
      icon: mdi:home-lightning-bolt

    - name: "Grid Power"
      unit_of_measurement: W
      state: >-
        {{ states('sensor.smart_meter_ts_65a_3_real_power') | float(0) | round(0) }}
      icon: >-
        {% set power = states('sensor.smart_meter_ts_65a_3_real_power') | float(0) %}
        {% if power > 0 %}
          mdi:transmission-tower-import
        {% elif power < -0 %}
          mdi:transmission-tower-export
        {% else %}
          mdi:transmission-tower-off
        {% endif %}
      attributes:
        direction: >-
          {% set power = states('sensor.smart_meter_ts_65a_3_real_power') | float(0) %}
          {% if power > 0 %}
            importing
          {% elif power < 0 %}
            exporting
          {% else %}
            idle
          {% endif %}

    - name: "Solar Utilization"
      unit_of_measurement: "%"
      state_class: measurement
      state: >-
        {% set production = states('sensor.solarnet_power_photovoltaics') | float(0) %}
        {% set capacity = 9570 %}
        {% if capacity > 0 %}
          {{ (production / capacity * 100) | round(1) }}
        {% else %}
          0
        {% endif %}
      icon: mdi:gauge

    - name: "Battery Power"
      unit_of_measurement: W
      state: >-
        {{ states('sensor.solarnet_power_battery') | float(0) | round(0) }}
      icon: >-
        {% set power = states('sensor.solarnet_power_battery') | float(0) %}
        {% if power > 0 %}
          mdi:battery-minus
        {% elif power < 0 %}
          mdi:battery-plus
        {% else %}
          mdi:battery-off
        {% endif %}
      attributes:
        status: >-
          {% set power = states('sensor.solarnet_power_battery') | float(0) %}
          {% if power > 0 %}
            discharging
          {% elif power < 0 %}
            charging
          {% else %}
            idle
          {% endif %}

  - binary_sensor:
    - name: "Coffee Machine Active"
      device_class: running
      state: >
        {{ states('sensor.coffee_machine_power') | float > 100 }}
      icon: >
        {% if states('sensor.coffee_machine_power') | float > 10 %}
          mdi:coffee
        {% else %}
          mdi:coffee-off
        {% endif %}
